@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Roboto:ital,wght@1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,100&display=swap');

h1,
h2 {
    font-family: 'roboto';

    color: rgb(218, 182, 182);
    text-shadow: 2px 2px 4px #000;
}

body {
    font-size: 16px;
}

#fondo {
    background-image: url(bandera.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;

    position: absolute;
    top: 0;
    left: 0;
    background-position: right;


}
#fondo2 {
    background-image: url(pizza.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background-position: right;


}



.texto {


    width: 60%;
    position: absolute;
    top: 30%;
    left: 30%;
    text-align: center;
    color: white;
}
.texto2 {
 
    position: absolute;
    top: 60%;
    left: 50%;
    text-align: right;
    color: white;}
header{
    position:absolute;
    display:block;
    text-align: center;
   
    left: 60px;
     top:0;
     height: 75px;
    padding: 20px 30px 20px 300px;
}

a{
    background-color: rgba(119, 106, 179, 0.5);
    display: inline-block;
    text-decoration: none;
    padding: 10px 20px;
    margin-right: 20px;
    box-shadow: 2px 2px 2px #000;
    border: 1px solid white;
    color:white;}

.form {
    position: absolute;
    left: 50%;
    top: 50%;
    color: white;


}

tr {
  margin: auto auto;
 width: 60%;
 text-align: left;
 border-color:white;
 background-color: rgba(119, 106, 179, 0.5);
 box-shadow: 2px 2px 2px rgb(240, 216, 216);
                



}

td {

    width: 80%;
    padding: 10px;
  text-align: left;

}

#submit {
    text-align: right;
}